<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>首页</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <style>
        .welcome {
            margin: 40px auto;
            font-size: 18px;
            text-align: center;
            width: 500px;
        }
    </style>
</head>
<body>
    <div>
        <div class="welcome">欢迎登录后台管理系统</div>
    </div>
</body>
</html>
