<!-- 引入 首页的css文件 -->
<link rel="stylesheet" href="/static/home/css/index.css">
<!-- 引入layui -->
<link rel="stylesheet" href="/static/home/js/plugins/layui/css/layui.css">
<script src="/static/home/js/plugins/layui/layui.js"></script>
<!-- 引入js文件 -->
<script src="/static/home/js/index.js"></script>

<!-- 首页部分 start -->

<!-- 轮播图 start -->
<div class="main">
    <div class="wrap">
        <div class="layui-carousel" id="carousel">
            <div carousel-item>
                <div>
                    <a href="#"><img src="/static/home/upload/banner1.jpeg" alt=""></a>
                </div>
                <div>
                    <a href="#"><img src="/static/home/upload/banner2.png" alt=""></a>
                </div>
                <div>
                    <a href="#"><img src="/static/home/upload/banner3.jpeg" alt=""></a>
                </div>
                <div>
                    <a href="#"><img src="/static/home/upload/banner4.jpeg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 轮播图 end -->

<!-- 精品推荐 start -->
<div class="recommend">
    <div class="wrap">
        <div class="head">
            精品推荐
        </div>
        <div class="body">
            <div class="item">
                <a href="#">
                    <img src="/static/home/upload/floor/手机/HUAWEI nova 7 Pro.png" alt="">
                    <h3>HUAWEI nova 7 Pro</h3>
                    <p>￥3699</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="/static/home/upload/floor/手机/HUAWEI nova 7 Pro.png" alt="">
                    <h3>HUAWEI nova 7 Pro</h3>
                    <p>￥3699</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="/static/home/upload/floor/手机/HUAWEI nova 7 Pro.png" alt="">
                    <h3>HUAWEI nova 7 Pro</h3>
                    <p>￥3699</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="/static/home/upload/floor/手机/HUAWEI nova 7 Pro.png" alt="">
                    <h3>HUAWEI nova 7 Pro</h3>
                    <p>￥3699</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="/static/home/upload/floor/手机/HUAWEI nova 7 Pro.png" alt="">
                    <h3>HUAWEI nova 7 Pro</h3>
                    <p>￥3699</p>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- 精品推荐 end -->

<!-- 楼层区 start -->
<div class="floor">
    <div class="shouji wrap">
        <div class="head">
            <h3>手机</h3>
            <div class="catelist">
                <ul>
                    <li><a href="#">HUAWEI Mate系列</a></li>
                    <li><a href="#">HUAWEI P系列</a></li>
                    <li><a href="#">HUAWEI nova系列</a></li>
                </ul>
            </div>
            <div class="more">
                <a href="#">查看更多</a>
            </div>
        </div>
        <div class="body">
            <div class="item">
                <a href="#">
                    <img src="/static/home/upload/floor/手机/HUAWEI nova 7 Pro.png" alt="">
                    <h3>HUAWEI nova 7 Pro</h3>
                    <p>￥3699</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="/static/home/upload/floor/手机/HUAWEI nova 7 Pro.png" alt="">
                    <h3>HUAWEI nova 7 Pro</h3>
                    <p>￥3699</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="/static/home/upload/floor/手机/HUAWEI nova 7 Pro.png" alt="">
                    <h3>HUAWEI nova 7 Pro</h3>
                    <p>￥3699</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="/static/home/upload/floor/手机/HUAWEI nova 7 Pro.png" alt="">
                    <h3>HUAWEI nova 7 Pro</h3>
                    <p>￥3699</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="/static/home/upload/floor/手机/HUAWEI nova 7 Pro.png" alt="">
                    <h3>HUAWEI nova 7 Pro</h3>
                    <p>￥3699</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="/static/home/upload/floor/手机/华为畅享20 Plus 5G.png" alt="">
                    <h3>HUAWEI nova 7 Pro</h3>
                    <p>￥3699</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="/static/home/upload/floor/手机/华为畅享20 Plus 5G.png" alt="">
                    <h3>HUAWEI nova 7 Pro</h3>
                    <p>￥3699</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="/static/home/upload/floor/手机/荣耀 Play4T.png" alt="">
                    <h3>HUAWEI nova 7 Pro</h3>
                    <p>￥3699</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="/static/home/upload/floor/手机/荣耀 Play4T.png" alt="">
                    <h3>HUAWEI nova 7 Pro</h3>
                    <p>￥3699</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="/static/home/upload/floor/手机/HUAWEI nova 7 Pro.png" alt="">
                    <h3>HUAWEI nova 7 Pro</h3>
                    <p>￥3699</p>
                </a>
            </div>
        </div>
    </div>
    <div class="bijiben wrap">
        <div class="head">
            <h3>笔记本</h3>
            <div class="catelist">
                <ul>
                    <li><a href="#">华为MateBook X系列</a></li>
                    <li><a href="#">华为MateBook系列</a></li>
                    <li><a href="#">华为MateBook D系列</a></li>
                </ul>
            </div>
            <div class="more">
                <a href="#">查看更多</a>
            </div>
        </div>
        <div class="body">
            <div class="item">
                <a href="#">
                    <img src="/static/home/upload/floor/手机/HUAWEI nova 7 Pro.png" alt="">
                    <h3>HUAWEI nova 7 Pro</h3>
                    <p>￥3699</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="/static/home/upload/floor/手机/HUAWEI nova 7 Pro.png" alt="">
                    <h3>HUAWEI nova 7 Pro</h3>
                    <p>￥3699</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="/static/home/upload/floor/手机/HUAWEI nova 7 Pro.png" alt="">
                    <h3>HUAWEI nova 7 Pro</h3>
                    <p>￥3699</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="/static/home/upload/floor/手机/HUAWEI nova 7 Pro.png" alt="">
                    <h3>HUAWEI nova 7 Pro</h3>
                    <p>￥3699</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="/static/home/upload/floor/手机/HUAWEI nova 7 Pro.png" alt="">
                    <h3>HUAWEI nova 7 Pro</h3>
                    <p>￥3699</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="/static/home/upload/floor/手机/华为畅享20 Plus 5G.png" alt="">
                    <h3>HUAWEI nova 7 Pro</h3>
                    <p>￥3699</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="/static/home/upload/floor/手机/华为畅享20 Plus 5G.png" alt="">
                    <h3>HUAWEI nova 7 Pro</h3>
                    <p>￥3699</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="/static/home/upload/floor/手机/荣耀 Play4T.png" alt="">
                    <h3>HUAWEI nova 7 Pro</h3>
                    <p>￥3699</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="/static/home/upload/floor/手机/荣耀 Play4T.png" alt="">
                    <h3>HUAWEI nova 7 Pro</h3>
                    <p>￥3699</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="/static/home/upload/floor/手机/HUAWEI nova 7 Pro.png" alt="">
                    <h3>HUAWEI nova 7 Pro</h3>
                    <p>￥3699</p>
                </a>
            </div>
        </div>
    </div>
    <div class="pingban wrap">
        <div class="head">
            <h3>平板</h3>
            <div class="catelist">
                <ul>
                    <li><a href="#">华为MatePad 系列</a></li>
                    <li><a href="#">华为畅想系列</a></li>
                </ul>
            </div>
            <div class="more">
                <a href="#">查看更多</a>
            </div>
        </div>
        <div class="body">
            <div class="item">
                <a href="#">
                    <img src="/static/home/upload/floor/手机/HUAWEI nova 7 Pro.png" alt="">
                    <h3>HUAWEI nova 7 Pro</h3>
                    <p>￥3699</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="/static/home/upload/floor/手机/HUAWEI nova 7 Pro.png" alt="">
                    <h3>HUAWEI nova 7 Pro</h3>
                    <p>￥3699</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="/static/home/upload/floor/手机/HUAWEI nova 7 Pro.png" alt="">
                    <h3>HUAWEI nova 7 Pro</h3>
                    <p>￥3699</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="/static/home/upload/floor/手机/HUAWEI nova 7 Pro.png" alt="">
                    <h3>HUAWEI nova 7 Pro</h3>
                    <p>￥3699</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="/static/home/upload/floor/手机/HUAWEI nova 7 Pro.png" alt="">
                    <h3>HUAWEI nova 7 Pro</h3>
                    <p>￥3699</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="/static/home/upload/floor/手机/HUAWEI nova 7 Pro.png" alt="">
                    <h3>HUAWEI nova 7 Pro</h3>
                    <p>￥3699</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="/static/home/upload/floor/手机/HUAWEI nova 7 Pro.png" alt="">
                    <h3>HUAWEI nova 7 Pro</h3>
                    <p>￥3699</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="/static/home/upload/floor/手机/HUAWEI nova 7 Pro.png" alt="">
                    <h3>HUAWEI nova 7 Pro</h3>
                    <p>￥3699</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="/static/home/upload/floor/手机/HUAWEI nova 7 Pro.png" alt="">
                    <h3>HUAWEI nova 7 Pro</h3>
                    <p>￥3699</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="/static/home/upload/floor/手机/HUAWEI nova 7 Pro.png" alt="">
                    <h3>HUAWEI nova 7 Pro</h3>
                    <p>￥3699</p>
                </a>
            </div>
        </div>
    </div>
    <div class="zhinengchuandai wrap">
        <div class="head">
            <h3>智能穿戴</h3>
            <div class="catelist">
                <ul>
                    <li><a href="#">HUAWEI Mate系列</a></li>
                    <li><a href="#">HUAWEI P系列</a></li>
                    <li><a href="#">HUAWEI nova系列</a></li>
                </ul>
            </div>
            <div class="more">
                <a href="#">查看更多</a>
            </div>
        </div>
        <div class="body">
            <div class="item">
                <a href="#">
                    <img src="/static/home/upload/floor/手机/HUAWEI nova 7 Pro.png" alt="">
                    <h3>HUAWEI nova 7 Pro</h3>
                    <p>￥3699</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="/static/home/upload/floor/手机/HUAWEI nova 7 Pro.png" alt="">
                    <h3>HUAWEI nova 7 Pro</h3>
                    <p>￥3699</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="/static/home/upload/floor/手机/HUAWEI nova 7 Pro.png" alt="">
                    <h3>HUAWEI nova 7 Pro</h3>
                    <p>￥3699</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="/static/home/upload/floor/手机/HUAWEI nova 7 Pro.png" alt="">
                    <h3>HUAWEI nova 7 Pro</h3>
                    <p>￥3699</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="/static/home/upload/floor/手机/HUAWEI nova 7 Pro.png" alt="">
                    <h3>HUAWEI nova 7 Pro</h3>
                    <p>￥3699</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="/static/home/upload/floor/手机/HUAWEI nova 7 Pro.png" alt="">
                    <h3>HUAWEI nova 7 Pro</h3>
                    <p>￥3699</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="/static/home/upload/floor/手机/HUAWEI nova 7 Pro.png" alt="">
                    <h3>HUAWEI nova 7 Pro</h3>
                    <p>￥3699</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="/static/home/upload/floor/手机/HUAWEI nova 7 Pro.png" alt="">
                    <h3>HUAWEI nova 7 Pro</h3>
                    <p>￥3699</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="/static/home/upload/floor/手机/HUAWEI nova 7 Pro.png" alt="">
                    <h3>HUAWEI nova 7 Pro</h3>
                    <p>￥3699</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="/static/home/upload/floor/手机/HUAWEI nova 7 Pro.png" alt="">
                    <h3>HUAWEI nova 7 Pro</h3>
                    <p>￥3699</p>
                </a>
            </div>
        </div>
    </div>
    <div class="zhinengjiaju wrap">
        <div class="head">
            <h3>智能家居</h3>
            <div class="catelist">
                <ul>
                    <li><a href="#">HUAWEI Mate系列</a></li>
                    <li><a href="#">HUAWEI P系列</a></li>
                    <li><a href="#">HUAWEI nova系列</a></li>
                </ul>
            </div>
            <div class="more">
                <a href="#">查看更多</a>
            </div>
        </div>
        <div class="body">
            <div class="item">
                <a href="#">
                    <img src="/static/home/upload/floor/手机/HUAWEI nova 7 Pro.png" alt="">
                    <h3>HUAWEI nova 7 Pro</h3>
                    <p>￥3699</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="/static/home/upload/floor/手机/HUAWEI nova 7 Pro.png" alt="">
                    <h3>HUAWEI nova 7 Pro</h3>
                    <p>￥3699</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="/static/home/upload/floor/手机/HUAWEI nova 7 Pro.png" alt="">
                    <h3>HUAWEI nova 7 Pro</h3>
                    <p>￥3699</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="/static/home/upload/floor/手机/HUAWEI nova 7 Pro.png" alt="">
                    <h3>HUAWEI nova 7 Pro</h3>
                    <p>￥3699</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="/static/home/upload/floor/手机/HUAWEI nova 7 Pro.png" alt="">
                    <h3>HUAWEI nova 7 Pro</h3>
                    <p>￥3699</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="/static/home/upload/floor/手机/HUAWEI nova 7 Pro.png" alt="">
                    <h3>HUAWEI nova 7 Pro</h3>
                    <p>￥3699</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="/static/home/upload/floor/手机/HUAWEI nova 7 Pro.png" alt="">
                    <h3>HUAWEI nova 7 Pro</h3>
                    <p>￥3699</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="/static/home/upload/floor/手机/HUAWEI nova 7 Pro.png" alt="">
                    <h3>HUAWEI nova 7 Pro</h3>
                    <p>￥3699</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="/static/home/upload/floor/手机/HUAWEI nova 7 Pro.png" alt="">
                    <h3>HUAWEI nova 7 Pro</h3>
                    <p>￥3699</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="/static/home/upload/floor/手机/HUAWEI nova 7 Pro.png" alt="">
                    <h3>HUAWEI nova 7 Pro</h3>
                    <p>￥3699</p>
                </a>
            </div>
        </div>
    </div>
    <div class="dianshi wrap">
        <div class="head">
            <h3>电视</h3>
            <div class="catelist">
                <ul>
                    <li><a href="#">HUAWEI Mate系列</a></li>
                    <li><a href="#">HUAWEI P系列</a></li>
                    <li><a href="#">HUAWEI nova系列</a></li>
                </ul>
            </div>
            <div class="more">
                <a href="#">查看更多</a>
            </div>
        </div>
        <div class="body">
            <div class="item">
                <a href="#">
                    <img src="/static/home/upload/floor/手机/HUAWEI nova 7 Pro.png" alt="">
                    <h3>HUAWEI nova 7 Pro</h3>
                    <p>￥3699</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="/static/home/upload/floor/手机/HUAWEI nova 7 Pro.png" alt="">
                    <h3>HUAWEI nova 7 Pro</h3>
                    <p>￥3699</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="/static/home/upload/floor/手机/HUAWEI nova 7 Pro.png" alt="">
                    <h3>HUAWEI nova 7 Pro</h3>
                    <p>￥3699</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="/static/home/upload/floor/手机/HUAWEI nova 7 Pro.png" alt="">
                    <h3>HUAWEI nova 7 Pro</h3>
                    <p>￥3699</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="/static/home/upload/floor/手机/HUAWEI nova 7 Pro.png" alt="">
                    <h3>HUAWEI nova 7 Pro</h3>
                    <p>￥3699</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="/static/home/upload/floor/手机/HUAWEI nova 7 Pro.png" alt="">
                    <h3>HUAWEI nova 7 Pro</h3>
                    <p>￥3699</p>
                </a>
            </div><div class="item">
            <a href="#">
                <img src="/static/home/upload/floor/手机/HUAWEI nova 7 Pro.png" alt="">
                <h3>HUAWEI nova 7 Pro</h3>
                <p>￥3699</p>
            </a>
        </div>
            <div class="item">
                <a href="#">
                    <img src="/static/home/upload/floor/手机/HUAWEI nova 7 Pro.png" alt="">
                    <h3>HUAWEI nova 7 Pro</h3>
                    <p>￥3699</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="/static/home/upload/floor/手机/HUAWEI nova 7 Pro.png" alt="">
                    <h3>HUAWEI nova 7 Pro</h3>
                    <p>￥3699</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="/static/home/upload/floor/手机/HUAWEI nova 7 Pro.png" alt="">
                    <h3>HUAWEI nova 7 Pro</h3>
                    <p>￥3699</p>
                </a>
            </div>
        </div>
    </div>

</div>
<!-- 楼层区 end -->

<!-- 固定电梯导航 start -->
<div class="fixedtool">
    <ul>
        <li class="current">手机</li>
        <li>笔记本</li>
        <li>平板</li>
        <li>智能穿戴</li>
        <li>智能家具</li>
        <li>电视</li>
    </ul>
    <a href="javascript:;" class="back_top">回到顶部</a>
</div>
<!-- 固定电梯导航 end -->