<!-- 引入 首页的css文件 -->
<link rel="stylesheet" href="/static/home/css/index.css">
<!-- 引入layui -->
<link rel="stylesheet" href="/static/home/js/plugins/layui/css/layui.css">
<script src="/static/home/js/plugins/layui/layui.js"></script>
<!-- 引入js文件 -->
<script src="/static/home/js/index.js"></script>

<!-- 首页部分 start -->

<!-- 轮播图 start -->
<div class="main">
    <div class="wrap">
        <div class="layui-carousel" id="carousel">
            <div carousel-item>
                <div>
                    <a href="javascript:;"><img src="/static/home/upload/banner1.jpeg" alt=""></a>
                </div>
                <div>
                    <a href="javascript:;"><img src="/static/home/upload/banner2.png" alt=""></a>
                </div>
                <div>
                    <a href="javascript:;"><img src="/static/home/upload/banner3.jpeg" alt=""></a>
                </div>
                <div>
                    <a href="javascript:;"><img src="/static/home/upload/banner4.jpeg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 轮播图 end -->

<!-- 精品推荐 start -->
<div class="recommend">
    <div class="wrap">
        <div class="head">
            精品推荐
        </div>
        <div class="body">
            {foreach $recommend as $v}
            <div class="item">
                <a href="/home/goods_detail?id={$v.id}">
                    <img src="{$v.goods_logo}">
                    <h3>{$v.name}</h3>
                    <p>￥{$v.price}</p>
                </a>
            </div>
            {/foreach}
        </div>
    </div>
</div>
<!-- 精品推荐 end -->

<!-- 楼层区 start -->
<div class="floor">
    <div class="shouji wrap">
        <div class="head">
            <h3>手机</h3>
            <div class="catelist">
                <ul>
                    {foreach $mobile['category'] as $v}
                    <li><a href="/home/list?id={$v.id}">{$v.name}</a></li>
                    {/foreach}
                </ul>
            </div>
            <div class="more">
                <a href="/home/list?id={$mobile['first_cate_id']}">查看更多</a>
            </div>
        </div>
        <div class="body">
            {foreach $mobile['goods'] as $v}
            <div class="item">
                <a href="/home/goods_detail?id={$v.id}">
                    <img src="{$v.goods_logo}">
                    <h3>{$v.name}</h3>
                    <p>￥{$v.price}</p>
                </a>
            </div>
            {/foreach}
        </div>
    </div>
    <div class="bijiben wrap">
        <div class="head">
            <h3>笔记本</h3>
            <div class="catelist">
                <ul>
                    {foreach $laptop['category'] as $v}
                    <li><a href="/home/list?id={$v.id}">{$v.name}</a></li>
                    {/foreach}
                </ul>
            </div>
            <div class="more">
                <a href="/home/list?id={$laptop['first_cate_id']}">查看更多</a>
            </div>
        </div>
        <div class="body">
            {foreach $laptop['goods'] as $v}
            <div class="item">
                <a href="/home/goods_detail?id={$v.id}">
                    <img src="{$v.goods_logo}">
                    <h3>{$v.name}</h3>
                    <p>￥{$v.price}</p>
                </a>
            </div>
            {/foreach}
        </div>
    </div>
    <div class="pingban wrap">
        <div class="head">
            <h3>平板</h3>
            <div class="catelist">
                <ul>
                    {foreach $pingban['category'] as $v}
                    <li><a href="/home/list?id={$v.id}">{$v.name}</a></li>
                    {/foreach}
                </ul>
            </div>
            <div class="more">
                <a href="/home/list?id={$pingban['first_cate_id']}">查看更多</a>
            </div>
        </div>
        <div class="body">
            {foreach $pingban['goods'] as $v}
            <div class="item">
                <a href="/home/goods_detail?id={$v.id}">
                    <img src="{$v.goods_logo}">
                    <h3>{$v.name}</h3>
                    <p>￥{$v.price}</p>
                </a>
            </div>
            {/foreach}
        </div>
    </div>
    <div class="zhinengchuandai wrap">
        <div class="head">
            <h3>智能穿戴</h3>
            <div class="catelist">
                <ul>
                    {foreach $chuandai['category'] as $v}
                    <li><a href="/home/list?id={$v.id}">{$v.name}</a></li>
                    {/foreach}
                </ul>
            </div>
            <div class="more">
                <a href="/home/list?id={$chuandai['first_cate_id']}">查看更多</a>
            </div>
        </div>
        <div class="body">
            {foreach $chuandai['goods'] as $v}
            <div class="item">
                <a href="/home/goods_detail?id={$v.id}">
                    <img src="{$v.goods_logo}">
                    <h3>{$v.name}</h3>
                    <p>￥{$v.price}</p>
                </a>
            </div>
            {/foreach}
        </div>
    </div>
    <div class="zhinengjiaju wrap">
        <div class="head">
            <h3>智能家具</h3>
            <div class="catelist">
                <ul>
                    {foreach $furniture['category'] as $v}
                    <li><a href="/home/list?id={$v.id}">{$v.name}</a></li>
                    {/foreach}
                </ul>
            </div>
            <div class="more">
                <a href="/home/list?id={$furniture['first_cate_id']}">查看更多</a>
            </div>
        </div>
        <div class="body">
            {foreach $furniture['goods'] as $v}
            <div class="item">
                <a href="/home/goods_detail?id={$v.id}">
                    <img src="{$v.goods_logo}">
                    <h3>{$v.name}</h3>
                    <p>￥{$v.price}</p>
                </a>
            </div>
            {/foreach}
        </div>
    </div>
    <div class="dianshi wrap">
        <div class="head">
            <h3>电视</h3>
            <div class="catelist">
                <ul>
                    {foreach $tv['category'] as $v}
                    <li><a href="/home/list?id={$v.id}">{$v.name}</a></li>
                    {/foreach}
                </ul>
            </div>
            <div class="more">
                <a href="/home/list?id={$tv['first_cate_id']}">查看更多</a>
            </div>
        </div>
        <div class="body">
            {foreach $tv['goods'] as $v}
            <div class="item">
                <a href="/home/goods_detail?id={$v.id}">
                    <img src="{$v.goods_logo}">
                    <h3>{$v.name}</h3>
                    <p>￥{$v.price}</p>
                </a>
            </div>
            {/foreach}
        </div>
    </div>

</div>
<!-- 楼层区 end -->

<!-- 固定电梯导航 start -->
<div class="fixedtool">
    <ul>
        <li class="current">手机</li>
        <li>笔记本</li>
        <li>平板</li>
        <li>智能穿戴</li>
        <li>智能家具</li>
        <li>电视</li>
    </ul>
    <a href="javascript:;" class="back_top">回到顶部</a>
</div>
<!-- 固定电梯导航 end -->