
    <link rel="stylesheet" href="/static/home/css/payfail.css">

<!-- 主体内容 start -->
<div class="paysuccess wrap">
    <div class="success">
        <h3>
            <img src="/static/home/img/fail.png" width="48" height="48">
            支付失败，请稍后再试
        </h3>
        <div class="paydetail">
            <p>失败原因：{$msg}！</p>
            <p>您可以先去&nbsp;&nbsp;<a href="/home/" class="home">品优购首页</a>&nbsp;&nbsp;逛逛</p>
            <p class="button">
                <a href="javascript:;" class="see_order">重新支付</a>
            </p>
        </div>
    </div>
</div>
<!-- 主体内容 end -->

<script>

</script>