    <link rel="stylesheet" href="/static/home/css/paysuccess.css">

<!-- 主体内容 start -->
<div class="paysuccess wrap">
    <div class="success">
        <h3>
            <img src="/static/home/img/right.png" width="48" height="48">
            恭喜您，支付成功啦！
        </h3>
        <div class="paydetail">
            <p>支付方式：{$pay_name}</p>
            <p>支付金额：￥{$order_amount}元</p>
            <p class="button">
                <a href="javascript:;" class="see_order">查看订单</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/home/" class="keep_shopping">继续购物</a>
            </p>
        </div>
    </div>
</div>
<!-- 主体内容 end -->

<script>

</script>
