<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="csrf-token" content="{:token()}">
    <link rel="stylesheet" href="/static/admin/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/admin/css/public.css" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
        .goods_model_detail {
            width: 100%;
        }
        .goods_model_detail::after {
            content: '';
            height: 0;
            clear: both;
            overflow: hidden;
            display: block;
        }
        .goods_spec {
            float: left;
            width: 78%;
        }
        .goods_attr {
            float: right;
            width: 18%;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form">
    <div class="layui-tab layui-tab-brief">
        <ul class="layui-tab-title">
            <li class="layui-this">通用信息</li>
            <li>商品相册</li>
            <li>商品模型</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                    {// 通用信息 }
                    <input type="hidden" id="logo" name="logo" value="">
                    <div class="layui-form-item">
                        <label class="layui-form-label required">商品名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="name" lay-verify="required|name" lay-reqtext="商品名称不能为空" placeholder="控制在50个字符以内" value="" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">商品关键词</label>
                        <div class="layui-input-block">
                            <input type="text" name="keywords" lay-verify="" placeholder="多个关键词，用空格隔开" value="" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">商品简介</label>
                        <div class="layui-input-block">
                            <textarea name="desc" placeholder="控制在200个字符以内" class="layui-textarea"></textarea>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label required">商品分类</label>
                        <div id="cat_ids1" goodsCategory="{$goodsCategory}"></div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label required">商品品牌</label>
                        <div class="layui-input-inline">
                            <input type="text" name="" placeholder="请输入" autocomplete="off" class="layui-input" id="table_select">
                            <input type="hidden" name="brand" value="" >
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">logo图片</label>
                        <div class="layui-input-inline">
                            <button type="button" class="layui-btn" id="logo_img"><i class="layui-icon layui-icon-picture"></i>上传图片</button>
                            <div class="layui-upload-list">
                                <img class="layui-upload-img" id="preview_logo" width="100px">
                                <p id="logoText"></p>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">是否上架</label>
                        <div class="layui-input-inline">
                            <input type="checkbox" name="is_on_sale" lay-skin="switch" lay-text="是|否" value="1">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">是否包邮</label>
                        <div class="layui-input-inline">
                            <input type="checkbox" name="is_free_shipping" lay-skin="switch" lay-text="是|否" value="1">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label required">价格</label>
                        <div class="layui-input-inline">
                            <input type="text" name="price" lay-verify="number" value="" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">总库存</label>
                        <div class="layui-input-inline">
                            <input type="text" name="stock" lay-verify="number" value="" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">详情描述</label>
                        <div id="detail" class="layui-input-block">

                        </div>
                    </div>


                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="general">确认保存</button>
                        </div>
                    </div>

            </div>
            <div class="layui-tab-item">
                {// 商品相册 }
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                    <legend>上传商品相册</legend>
                </fieldset>
                <p style="color: #ccc;margin-bottom: 20px;">请上传图片格式文件，建议图片尺寸800*800像素</p>
                <div class="layui-upload">
                    <button type="button" class="layui-btn" id="goods_pic">图片上传</button>
                    <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                        预览图：
                        <div class="layui-upload-list" id="goods_pic_preview"></div>
                    </blockquote>
                </div>
                <input type="hidden" name="goods_gallery" id="goods_pic_upload" value="">

                <div class="layui-input-block">
                    <button class="layui-btn layui-btn-normal" lay-submit lay-filter="general">确认保存</button>
                </div>
            </div>
            <div class="layui-tab-item">
                <div class="layui-form-item">
                    <label class="layui-form-label required">商品模型</label>
                    <div class="layui-input-inline">
                        <select name="goods_type" lay-search lay-filter="goods_type">
                            <option value="">选择商品模型</option>
                            {foreach $goodsType as $v}
                            <option value="{$v.id}">{$v.name}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>

                <div class="goods_model_detail">
                    <div class="goods_spec">
                        <table class="layui-table" id="goods_spec_table1">
                            <tbody>
                                {/*
                                最终会拼接成这样的样式
                                <tr><td colspan="2"><b>商品规格</b></td></tr>
                                <tr>
                                    <td>颜色</td>
                                    <td>黑色 红色 白色</td>
                                </tr>
                                <tr>
                                    <td>内存</td>
                                    <td>4 6 8</td>
                                </tr>

                                */ }

                            </tbody>
                        </table>
                        <table class="layui-table" id="spec_input_tab">
                            <tbody>
                                {/*
                                最终会拼接成这样的样式
                                <tr>
                                    <td><b>颜色</b></td>
                                    <td><b>内存</b></td>

                                    <td><b>价格</b></td>
                                    <td><b>库存</b></td>
                                    <td><b>操作</b></td>
                                </tr>
                                */ }
                            </tbody>
                        </table>
                    </div>
                    <div class="goods_attr">
                        <table class="layui-table" id="goods_attr_table">
                            <tbody>
                            {/*
                            最终会拼接成这样的样式
                            <tr><td colspan="2"><b>商品属性</b></td></tr>
                            <tr>
                                <td>重量</td>
                                <td>1.2kg</td>
                            </tr>
                            <tr>
                                <td>版本</td>
                                <td>美版</td>
                            </tr>
                            */ }
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="layui-input-block">
                    <button class="layui-btn layui-btn-normal" lay-submit lay-filter="general">确认保存</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/admin/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script src="/static/admin/js/wangEditor.min.js"></script>
<script>
    layui.config({
        base : '/static/admin/js/layui_extends/'
    }).extend({
        selectN: 'selectN'
    }).use(['form', 'layer', 'upload', 'element', 'selectN', 'tableSelect', 'upload'], function () {
        var form = layui.form,
            $ = layui.$,
            layer = layui.layer,
            element = layui.element,
            tableSelect = layui.tableSelect,
            upload = layui.upload,
            selectN = layui.selectN;

        // 页面加载事件
        $(function () {
            // 商品规格按钮点击选中事件
            $('#goods_spec_table1').on('click', 'button', function () {
                // 给当前按钮添加btn-success类并改变样式
                $(this).toggleClass('btn-success').toggleClass('layui-btn-primary');
                // 存放所有规格值的数组
                var spec_data = {};
                // 将所有被选中的规格值按钮按照所属的规格分类整理
                // 找到所有被选中的规格的按钮，然后遍历这些按钮
                $('.spec_name').find('button.btn-success').each(function (i,v) {
                    // 获取当前遍历到的规格值按钮所属的规格（一行）的index索引
                    var index = $(v).closest('tr').index();
                    // 获取当前遍历到的规格值按钮所属的规格的规格id
                    var spec_id = $(v).closest('tr').attr('spec_id');
                    // 获取当前遍历到的规格值按钮所属的规格的规格名称
                    var spec_name = $(v).closest('tr').find('td:first').attr('spec_name');
                    // 获取当前遍历到的规格值按钮的规格值id
                    var spec_value_id = $(v).attr('spec_value_id');
                    // 获取当前遍历到的规格值按钮的规格值名称
                    var spec_value = $(v).text();
                    if (spec_data[index] == undefined) spec_data[index] = [];
                    // 根据index将获取到的所有的规格值按钮的参数归类到不同的规格名中
                    spec_data[index].push({spec_id:spec_id,spec_name:spec_name,spec_value_id:spec_value_id,spec_value:spec_value});
                });
                // 最终spec_data的结构
                /*
                {
                    [
                        {spec_id: "22", spec_name: "颜色", spec_value_id: "55", spec_value: "红色"},
                        {spec_id: "22", spec_name: "颜色", spec_value_id: "56", spec_value: "白色"},
                        {spec_id: "22", spec_name: "颜色", spec_value_id: "57", spec_value: "蓝色"}
                    ],
                    [
                        {spec_id: "23", spec_name: "内存", spec_value_id: "58", spec_value: "4+64"},
                        {spec_id: "23", spec_name: "内存", spec_value_id: "59", spec_value: "4+128"},
                        {spec_id: "23", spec_name: "内存", spec_value_id: "60", spec_value: "6+128"}
                    ],
                    [
                        {spec_id: "24", spec_name: "网络", spec_value_id: "61", spec_value: "移动/联通"},
                        {spec_id: "24", spec_name: "网络", spec_value_id: "62", spec_value: "电信"},
                        {spec_id: "24", spec_name: "网络", spec_value_id: "63", spec_value: "全网通"}
                    ]
                }
                 */
                // 将规格数据由对象转换成数组格式
                var spec_arr = [];
                for (let i in spec_data) {
                    spec_arr.push(spec_data[i]);
                }
                console.log(spec_arr);
                // 最终spec_arr的结构
                /*
                [
                    [
                        {spec_id: "22", spec_name: "颜色", spec_value_id: "55", spec_value: "红色"},
                        {spec_id: "22", spec_name: "颜色", spec_value_id: "56", spec_value: "白色"},
                        {spec_id: "22", spec_name: "颜色", spec_value_id: "57", spec_value: "蓝色"}
                    ],
                    [
                        {spec_id: "23", spec_name: "内存", spec_value_id: "58", spec_value: "4+64"},
                        {spec_id: "23", spec_name: "内存", spec_value_id: "59", spec_value: "4+128"},
                        {spec_id: "23", spec_name: "内存", spec_value_id: "60", spec_value: "6+128"}
                    ],
                    [
                        {spec_id: "24", spec_name: "网络", spec_value_id: "61", spec_value: "移动/联通"},
                        {spec_id: "24", spec_name: "网络", spec_value_id: "62", spec_value: "电信"},
                        {spec_id: "24", spec_name: "网络", spec_value_id: "63", spec_value: "全网通"}
                    ]
                ]
                 */
                // 计算所有规格值数组的笛卡尔积
                // 思路：先计算两个规格数组的笛卡尔积，将结果暂存起来，然后再将结果和第三个规格数组计算笛卡尔积，然后再将
                // 结果暂存起来，如此反复，直到最后一个规格数组
                var result = spec_arr[0];
                for (let i=1; i<spec_arr.length; i++) {
                    var temp = [];
                    $.each(result, function (j,v1) {
                        $.each(spec_arr[i], function (k,v2) {
                            if ($.isArray(v1)) {
                                let sk = v1.slice(0);
                                sk.push(v2);
                                temp.push(sk);
                            } else {
                                temp.push([v1, v2]);
                            }
                        });
                    });
                    result = temp;
                }
                // 拼接DOM字符串
                var html = '';
                // 拼接第一行
                html += '<tr>';
                if ($.isArray(result[0]) == false) {
                    html += '<td><b>' + result[0].spec_name + '</b></td>';
                } else {
                    $.each(result[0], function (i,v) {
                        html += '<td><b>' + v.spec_name + '</b></td>';
                    });
                }
                html += '<td><b>价格</b></td>';
                html += '<td><b>库存</b></td>';
                html += '<td><b>操作</b></td>';
                html += '</tr>';
                // 拼接批量填充行
                html += '<tr>';
                if ($.isArray(result[0]) == false) {
                    html += '<td><b></b></td>';
                } else {
                    $.each(result[0], function (i,v) {
                        html += '<td><b></b></td>';
                    });
                }
                html += '<td><input id="item_price" value="0" class="layui-input"></td>';
                html += '<td><input id="item_store_count" value="0" class="layui-input"></td>';
                html += '<td><button id="item_fill" type="button" class="layui-btn layui-btn-sm btn-success">批量填充</button></td>';
                html += '</tr>';
                // 继续拼接
                $.each(result, function (i,v) {
                    html += '<tr>';
                    if ($.isArray(v) == false) {
                        var value_ids = v.spec_value_id;
                        var value_names = v.spec_name + ':' + v.spec_value;
                        html += '<td>' + v.spec_value + '</td>';
                    } else {
                        var value_ids = '';
                        var value_names = '';
                        $.each(v, function (i2,v2) {
                            html += '<td>' + v2.spec_value + '</td>';
                            value_ids += v2.spec_value_id + '_';
                            value_names += v2.spec_name + ':' + v2.spec_value + ' ';
                        });
                        value_ids = value_ids.slice(0,-1);
                        value_names = value_names.slice(0, -1);
                    }
                    html += '<td><input class="item_price layui-input" name="item['+value_ids+'][price]" value="0"><input type="hidden" name="item['+value_ids+'][value_names]" value="'+value_names+'"><input type="hidden" name="item['+value_ids+'][value_ids]" value="'+value_ids+'"></td>';
                    html += '<td><input class="item_store_count layui-input" name="item['+value_ids+'][store_count]" value="0"></td>';
                    html += '<td><button type="button" class="layui-btn layui-btn-primary layui-btn-sm delete_item ">移除</button></td>';
                    html += '</tr>';
                });
                $('#spec_input_tab').find('tbody').html(html);
            });

            // SKU批量填充按钮点击事件
            $('#spec_input_tab').on('click', '#item_fill', function () {
                var item_price = $('#item_price').val();
                var item_store_count = $('#item_store_count').val();
                $('.item_price').val(item_price);
                $('.item_store_count').val(item_store_count);
            });
            // SKU移除一行事件
            $('#spec_input_tab').on('click', '.delete_item', function () {
                $(this).closest('tr').remove();
            });
        });

        // 商品分类 无限极分类
        var catIns1 = selectN({
            //元素容器【必填】
            elem: '#cat_ids1'
            ,search:[false,true]
            //候选数据【必填】
            ,data: JSON.parse($('#cat_ids1').attr('goodsCategory'))
            //为真只取最后一个值
            ,last:true
        });

        // 商品品牌 table下拉选择器
        tableSelect.render({
            elem: '#table_select',
            checkedKey: 'id',
            table: {
                url: '/admin/goods_list/get_brand',
                cols: [[
                    { type: 'radio' },
                    { field: 'id', title: 'ID' },
                    { field: 'name', title: '名称' },
                ]]
            },
            done: function (elem, data) {
                var NEWJSON = []
                layui.each(data.data, function (index, item) {
                    NEWJSON.push(item.name)
                });
                elem.val(NEWJSON.join(","))
                $(elem).next('input').val(data.data[0].id)
            }
        });

        // Logo图片 普通图片上传
        var uploadInst = upload.render({
            elem: '#logo_img',
            url: '/admin/goods_list/upload_logo',
            accept: 'images',
            before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#preview_logo').attr('src', result); //图片链接（base64）
                });
            },
            done: function(res){
                //如果上传失败
                if(res.code > 0){
                    return layer.msg('上传失败');
                }
                //上传成功
                $('#logo').attr('value', res.data.src);
            },
            error: function(){
                //演示失败状态，并实现重传
                var logoText = $('#logoText');
                logoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                logoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });

        // 商品相册 多图片上传
        upload.render({
            elem: '#goods_pic'
            ,accept: 'images'
            ,url: '/admin/goods_list/upload_gallery' //改成您自己的上传接口
            ,multiple: true
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#goods_pic_preview').append('<img src="'+ result +'" alt="'+ file.name +'" class="layui-upload-img">')
                });
            }
            ,done: function(res){
                //上传完毕
                //如果上传失败
                if(res.code > 0){
                    return layer.msg('上传失败');
                }
                //上传成功
                var pic_src = $('#goods_pic_upload').val();
                pic_src = pic_src + res.data.src + ',';
                $('#goods_pic_upload').val(pic_src);
            }
        });

        // 监听表单提交
        form.on('submit(general)', function (data) {
            var postData = data.field;
            // 商品分类  无限极分类 最后一个选中值id
            postData.category = catIns1.lastValue;
            // 商品详情描述
            postData.detail = editor.txt.html();
            $.ajaxSetup({
                headers: {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                }
            });
            $.post('/admin/goods_list/save', postData, function (res) {
                if (res.code == 0) {
                    // 添加成功
                    layer.msg(res.msg, {
                        icon: 1,
                        time: 1000
                    }, function () {
                        // 重新加载父页面
                        parent.location.reload();
                    });
                } else if (res.code == 302) {
                    location.href = '/admin/error/' + res.msg;
                } else {
                    layer.msg(res.msg, {icon: 2});
                }
            }, 'json');
            return false; //阻止表单跳转。
        });

        // 监听select下拉选择事件
        form.on('select(goods_type)', function (data) {
            // 获取选中类型的id
            var type_id = data.value;
            if (type_id == '') return;
            // 请求选中模型的规格属性数据
            $.post('/admin/goods_list/get_spec_attr', {'type_id':type_id}, function (res) {
                if (res.code == 0) {
                    // 获取数据成功
                    // 根据获取的数据，拼接html代码，显示到页面
                    var attrs = res.data.goodsAttr;
                    var specs = res.data.goodsSpecName;
                    // 遍历数组，一条一条数据拼接处理
                    var spec_html = '<tr><td colspan="2"><b>商品规格</b></td></tr>';
                    $.each(specs, function (i,v) {
                       // i是数组中的索引，v是一条数据（json格式对象）
                       // 属性名称
                       spec_html += '<tr class="spec_name" spec_id="'+v.id+'">';
                       spec_html += '<td spec_name="' + v.name + '">' + v.name + '</td>';
                       spec_html += '<td>';
                       $.each(v.goodsSpecValue, function (index, value) {
                           spec_html += '<button type="button" spec_value_id="' + value.id + '" class="layui-btn layui-btn-primary layui-btn-sm">' + value.value +'</button>';
                       })
                       spec_html += '</td>';
                       spec_html += '</tr>';
                    });
                    // 将拼接好的html字符串，放到页面显示
                    $('#goods_spec_table1').find('tbody').html(spec_html);

                    var attrs_html = '<tr><td colspan="2"><b>商品属性</b></td></tr>';
                    $.each(attrs, function (i, v) {
                        // i是数组中的索引，v是一条数据（json格式对象）
                        // 属性名称
                        attrs_html += '<tr class="attr_name" attr_id="' + v.id + '">';
                        attrs_html += '<td attr_name="' + v.name + '">' + v.name + '</td>';
                        attrs_html += '<td><input type="hidden" name="attr[' +v.id+'][attr_name]" value="'+v.name+'"><input type="hidden" name="attr['+v.id+'][id]" value="'+v.id+'">';
                        if (v.values.length == 0) {
                            attrs_html += '<input type="text" name="attr['+v.id+'][attr_value]" value="" class="layui-input">';
                        } else {
                            attrs_html += '<select name="attr['+v.id+'][attr_value]"><option value="">请选择</option>';
                            $.each(v.values, function (index, val) {
                                attrs_html += '<option value="'+val+'">'+val+'</option>';
                            });
                            attrs_html += '</select>';
                        }
                        attrs_html += '</td>';
                        attrs_html += '</tr>';
                    });
                    // 将拼接好的html字符串，放到页面显示
                    $('#goods_attr_table').find('tbody').html(attrs_html);
                    // 更新渲染下拉框
                    form.render('select');
                } else if (res.code == 302) {
                    location.href = '/admin/error/' + res.msg;
                } else {
                    layer.msg(res.msg, {icon: 2});
                }
            }, 'json');
        });
    });

    // 富文本编辑器
    const E = window.wangEditor;
    const editor = new E('#detail');
    // 配置server接口地址
    editor.config.uploadImgServer = '/admin/goods_list/upload_img';
    editor.create();
</script>
</body>
</html>